* {
  touch-action: manipulation;
}

body {
	font-family: 'Inter', sans-serif;
}

.game-area {
	width: 496px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
}

.stats-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.stat {
	display: inline-block;
	background-color: rgb(235, 235, 240);
	padding: 8px;
}

.stats-bar .last-item {
	margin-left: 8px;
}

.number-area {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 328px;
	margin-top: 8px;
	background-color: rgb(235, 235, 240);
}

.big-number {
	font-size: 96px;
	font-weight: 700;
}

.big-button {
	width: 100%;
	margin-top: 8px;
	cursor: pointer;
	height: 80px;
}